html {
  background: #141212;
}

body {
  max-width: 960px;
  margin: auto;
  height: 100vh;
}

#intro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

img {
  max-height: 27vh;
}

#rock-img-container {
  margin-bottom: -40px;  
  animation-delay: 1;
}

#paper-img-container {
  animation-delay: 2.5s;
}

#scis-img-container {
  animation-delay: 4s;
}

#cont-btn-container {
  margin-top: 50px;
  animation-delay: 5.5s;
}

#cont-btn {
  color: #e00404;
  background: #141212;
  border: 6px solid #e00404;
  border-radius:15px;
  padding: 15px 25px;
  font-size: 20px;
  font-family: tahoma;
  letter-spacing:5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #e00404) drop-shadow(0 0 50px #e00404) contrast(2) brightness(2);
  transition: .5s;
  text-decoration: none;
}

#cont-btn:hover {
  color: black;
  background-color: #db3eb1;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
}

.fadein {
  opacity: 0;
  animation: fadeIn 2s forwards; 
  
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  color: white;
  
  
}

.typewriter1 {
  animation: 
    typing 3.5s steps(65, end),
    blink-caret .75s step-end infinite;
}

.typewriter2 {
  animation: 
    typing 3.5s steps(75, end),
    blink-caret .75s step-end infinite;
}

.typewriter3 {
  animation: 
    typing 3.5s steps(85, end),
    blink-caret .75s step-end infinite;
}

.typewriter4 {
  animation: 
    typing 3.5s steps(15, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.text-box {
  border: solid 2px white;
  height: 200px;

}