html {
  background: #141212;
}

body {
  max-width: 960px;
  margin: auto;
  height: 100vh;
}

#intro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.intro-img {
  max-height: 27vh;
}



#cont-btn {
  color: #db3eb1;
  background: #141212;
  border: 6px solid #db3eb1;
  border-radius:15px;
  padding: 15px 25px;
  font-size: 20px;
  font-family: tahoma;
  letter-spacing:5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
  transition: .5s;
  text-decoration: none;
}

#cont-btn:hover {
  color: black;
  background-color: #db3eb1;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
}

.fadein {
  
  animation: fadeIn 2s forwards; 
  
}

.hidden {
  opacity: 0;
}

.fadeout {
  opacity: 1;
  animation: fadeOut 2s backwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


.text-box {
  border: solid 2px white;
  height: 200px;
  width: 80vw;
}

.dontshow {
  display: none;
}

#titles {
	font-size: 30px;
	color: #db3eb1;
  letter-spacing: 5px;
  font-weight: bold;
  filter: drop-shadow(0 0 10px #db3eb1) drop-shadow(0 0 40px #db3eb1) contrast(2) brightness(2);
  border:#db3eb1;
  border-radius: 5px;
  border-style: solid;
} 

#game-container {
  
  display: flex;
  justify-content: center;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#option1 {
  color: #f51616;
  border: 6px solid #f51616;
  border-radius: 15px;
  padding: 15px 25px;
  font-size: 30px;
  letter-spacing: 5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #f51616) drop-shadow(0 0 50px #f51616) contrast(2) brightness(2);
  transition: .5s;
  min-width: 15vw;
}

#option2 {
  color: #46fc14;
  border: 6px solid #46fc14;
  border-radius: 15px;
  padding: 15px 25px;
  font-size: 30px;
  letter-spacing: 5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #46fc14) drop-shadow(0 0 50px #46fc14) contrast(2) brightness(2);
  transition: .5s;
  min-width: 15vw;
}

#option3 {
  color: #39e0e0;
  border: 6px solid #39e0e0;
  border-radius: 15px;
  padding: 15px 25px;
  font-size: 30px;
  letter-spacing: 5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #39e0e0) drop-shadow(0 0 50px #39e0e0) contrast(2) brightness(2);
  transition: .5s;
  min-width: 15vw;
}

#game-area {
  display: flex;
  
}

.option {
  width: 30vw;
  height: auto;
}

.noshow {
  display: none;
}